<p>Morbi tempus magna ac orci pharetra tincidunt. Nulla massa massa, gravida ornare iaculis eget, tincidunt non est. Fusce sollicitudin blandit odio ac condimentum. Aliquam non dictum metus. Quisque tristique nulla at eleifend pharetra. Pellentesque a libero metus. Nulla facilisi. Cras pretium urna eu massa sollicitudin, quis blandit elit dictum.</p>
<div blurred-image
	[small]="base64[0]"
	preview="/assets/img/yi-sung-tsai-01.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[1]"
	preview="/assets/img/yi-sung-tsai-02.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[2]"
	preview="/assets/img/yi-sung-tsai-03.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[3]"
	preview="/assets/img/yi-sung-tsai-04.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[4]"
	preview="/assets/img/yi-sung-tsai-05.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[5]"
	preview="/assets/img/yi-sung-tsai-06.jpg"
	[size]="{width: 880, height: 589}"
></div>
<div blurred-image
	[small]="base64[6]"
	preview="/assets/img/yi-sung-tsai-07.jpg"
	[size]="{width: 880, height: 589}"
></div>
