<p>Morbi tempus magna ac orci pharetra tincidunt. Nulla massa massa, gravida ornare iaculis eget, tincidunt non est. Fusce sollicitudin blandit odio ac condimentum. Aliquam non dictum metus. Quisque tristique nulla at eleifend pharetra. Pellentesque a libero metus. Nulla facilisi. Cras pretium urna eu massa sollicitudin, quis blandit elit dictum.</p>
<div blurred-image
	[small]="base64[0]"
	preview="/assets/img/annie-spratt-419262-preview.jpg"
	[size]="{width: 880, height: 587}"
	></div>
<p>Nam vitae pulvinar lorem, ut hendrerit nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc vestibulum rutrum urna vitae varius. Maecenas pellentesque dui in purus molestie, sed eleifend eros malesuada. Sed venenatis vel sapien et luctus. Vivamus elementum faucibus quam. </p>
<div blurred-image
	[small]="base64[1]"
	preview="/assets/img/annie-spratt-419261-preview.jpg" 
	[size]="{width: 880, height: 587}"
	></div>